.contact-title{
  text-align: center;
}
.contact-container {
  display: flex;
  flex-direction: column;
  margin: 100px;
  margin-left: 40%;
  margin-right: 40%;
  border: 1px black solid;
  border-radius: 20px;
}
.contact-pad {
  padding: 10px;
  margin: 40px;
  margin-right: 40px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  display: flex;
  flex-direction: column;
  align-items: center;
}