.contact-title{
    text-align: center;
  }
  /* Style inputs with type="text", select elements and textareas */
input[type=text],#email,#message,#name{
    width: 100%;
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit]{
    
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #3366cc;
  }
  
  /* Add a background color and some padding around the form */
  .contact-main {
    margin:20px;
   
    padding: 20px;

  }
.contact-text{
  text-align: center;
}
  
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {
  
}