.nav-title{
  font-weight: bold;
}
.nav-content {
  position: sticky;
  z-index: 1;
  width: 100%;
  background: #3366cc ;

}

.nav-links {
  cursor: pointer;
  float: right;
}

.left {
  float: left;
}

.bar {
  height: 8.02%;
  overflow: auto;
  transition: 0.25s;
}
.bar li {
  display: inline-block;
  padding: 10px;
}
.line {
    width: 100%;
    height: 3px;
    background-color: black;

}
.nav-item:hover {
  background-color:  rgb(119, 156, 236);
}
