.project-content{
  display: flex;
  flex-direction: row;
}
.al-estate-project {
 
  width: 475px;
  height: 575px;
  transition: blur;
}
.al-estate-project:hover {
  filter: blur(4px);
}
.al-estate-text {
  margin-top: -7em;
  margin-left: 4em;
}
.apex-project {
  
  max-width: 475px;
  max-height: 575px;
}

.kobe-tribute-project {
  
  max-width: 475px;
  max-height: 575px;
}

@media only screen and (max-width: 375px) {
  .al-estate-project {
    width: 100%;
    height: 500px;
  }
  .apex-project {
    display: inline;
    padding: 5px;
    max-width: 800px;
    max-height: 575px;
  }
  #project-title{
    text-align: center;
  }
  .project-content{
    height:1000
  }
}
