.my-projects {
  background-color: #3366cc;
  color: black;
  text-align: center;
}

.subtitle {
  color: accent;
  font-weight: bold;
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  grid-auto-rows: auto;
  grid-template-rows: repeat(auto-fit, minnmax(300px, 1fr));
  margin: 50px;
  padding: 0;
  max-width: 0 auto;
}

.portfolio-item {
  overflow: hidden;
}

.portfolio-img {
  width: 600px;
  height: 400px;
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}
.portfolio-item:focus {
  position: relative;
  z-index: 2;
}
.portfolio-img:hover,
.portfolio-item:focus .portfolio-img {
  transform: scale(1.2);
  opacity: 0.75;
}
