.resume-main {
  display: grid;
}
.text {
  float: right;
}
.text-h {
  text-align: right;
}
.resume-wrapper {
  display: inline-block;
  border: 1px solid black;
  box-shadow: 10px 5px 5px ;
  padding: 20px;
  margin: 30px;
}
.resume-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}
.resume-title {
  text-align: center;
}
.resume-subhead {
  text-align: center;
}
@media only screen and (max-width: 375px) {
  .resume-wrapper {
    display: inline-block;
  }
  .resume-content {
    background: #3366cc;
    width: 200px;
    height: 30%;
    margin: 0 auto;
  }
  
}
